[color]
  ui = true
[alias]
  aliases = config --get-regexp alias
  unstage = reset --
[core]
  autocrlf = input
  editor = vim
  pager = less -F -X
  excludesfile = /Users/andrew/.gitignore
[user]
  name = Andrew Berls
  email = andrew.berls@gmail.com
